.columns {
	min-height: 100%;
	width:100%;
	height:100%;
	display: table;
}

.navigation {
	width: 227px;
	min-width: 204px;
	background-color: #ffffff;
	display: table-cell;
	vertical-align: top;
	height:100%;
}

.navigation .logo {
	display: block;
	width:100%;
	text-align:center;
	height:48px;
	margin:64px 0px 50px 0px;
}

.body {
	display: table-cell;
	vertical-align: top;
	padding-left: 27px;
	padding-bottom: 50px;
	background-color:#f1f0f0;
	height:100%;
}

.body .inner {
	width: 947px;
	position:relative;
}

.navigation ul {
	margin:0;
	padding:0;
}

.navigation ul li {
	width:100%;
	display: block;
}

.navigation ul li a {
	width:100%;
	height:39px;
	border-top:1px solid #e7e7e7;
	display: block;
	line-height:39px;
	padding:0px 8px 0px 32px;
	color:#000000;
	font-size:16px;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
}

.navigation ul li a:hover {
	text-decoration:none;
}

.navigation ul li:last-child a {
	border-bottom:1px solid #e7e7e7;
}

.navigation ul li.active {
	background: #f15e52; /* Old browsers */
	background: -moz-linear-gradient(left,  #f15e52 0%, #f9a340 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f15e52), color-stop(100%,#f9a340)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* IE10+ */
	background: linear-gradient(to right,  #f15e52 0%,#f9a340 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15e52', endColorstr='#f9a340',GradientType=1 ); /* IE6-9 */
}

.navigation ul li:hover {
	background-color: #fabc7b;
	color:#ffffff;
}

.navigation ul li.active a {
	color:#ffffff;
}

.trainer-name {
	font-size:18px;
	display:block;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	width:100%;
	text-align:center;
	margin-bottom: 52px;
}


.trainer-code {
	font-size:18px;
	display:block;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	width:100%;
	text-align:center;
}

.section-header {
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	font-size:30px;
	color:#000000;
	font-weight:700;
	margin-bottom:42px;
}

.section {
	width:100%;
	border:1px solid #dcdbdb;
	background-color:#ffffff;
}

#graph_section {
	padding:34px 43px 34px 10px;
	border-radius:2px;
	margin:0;
}

.graph-container {
	width:540px;
	float:left;
}

#client_graph {
	width:100%;
}

.total-clients {
	float:right;
	text-align:center;
	font-size:18px;
	background-color:#f1f0f0;
	border-radius:10px;
	padding:22px 50px;
	margin-top:35px;
	width:220px;
}

.total-clients span {
	font-size:48px;
	display:block;
	line-height:1.0;
	font-weight:700;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
}

.loss-reasons {
	float:right;
	width:210px;
}

.loss-reasons h3 {
	font-size: 18px;
	font-weight: 300;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	text-align:center;
	margin:30px 0px;
}

.loss-reasons .reason {
	line-height: 20px;
	height:20px;
	display: block;
	margin-bottom:10px;
	font-size:12px;
	font-weight:700;
}

.loss-reasons .reason span.color {
	height:20px;
	width:20px;
	float:left;
	margin-right:22px;
}

.loss-reasons .reason span.total {
	width:40px;
	float:left;
}

.section-subheader {
	font-size:16px;
	margin:27px 0px;
	font-weight:700;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
}

#lost_clients {
	margin:0;
}

#lost_clients table {

}

#lost_clients table tr th {
	background-color: #000000;
	color:#ffffff;
	font-size:14px;
	padding:10px;
}

#lost_clients table tr th:first-child,
#lost_clients table tr td:first-child {
	padding-left:20px;
}

#lost_clients table tr th:last-child,
#lost_clients table tr td:last-child {
	padding-right:20px;
}

#lost_clients table tr td {
	padding:3px 10px;
}

#lost_clients table tr {
	border-bottom:1px solid #dcdbdb;
}

#lost_clients table tr:last-child {
	border-bottom:none;
}

#change_subscription .modal-header {
	color:#ffffff;
}

#change_subscription .modal-content .modal-body {
	text-align:center;
}

#change_subscription #user_name {
	font-weight:700;
}

#change_subscription .select-box {
	width:300px;
	margin:0px auto 20px auto;
}

.message-area {
	margin:20px 0px;
}

.error-span {
	width:85px;
	height:32px;
	line-height: 32px;
	display:block;
	text-align: center;
	color:#f15e52;
}

.accordian-area .panel {
	margin:0px 0px 1px 0px;
}

.accordian-area .panel,
.accordian-area .panel .panel-heading {
	padding:0;
	border-radius:0px;
	border:none;
}

.accordian-area .panel .panel-heading a {
	width:100%;
	display:block;
	height:46px;
	line-height: 46px;
	padding:0px 20px;
	color:#ffffff;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	font-size:16px;
	font-weight:700;
	background-color:#000000;
}

.accordian-area .panel .panel-heading a:hover {
	text-decoration:none;
}

.accordian-area .panel .panel-body {
	margin:0;
	padding:15px 25px;
}

.accordian-area .progress-photo {
	float:left;
	width:200px;
}

.accordian-area .progress-photo img {
	border:1px solid #a6a6a6;
}

.accordian-area .user-info {
	float:left;
	width:410px;
	padding:0px 30px;
	border-right:1px solid #a6a6a6;
}

.accordian-area .next-reminder {
	float:left;
	width:285px;
	padding:0px 0px 0px 30px;
}

.accordian-area .next-reminder textarea {
	resize:none;
	width:100%;
	height:85px;
	padding:5px 10px;
}

.accordian-area .next-reminder input[readonly] {
	background-color: #ffffff;
	cursor:default;
}


.accordian-area .next-reminder .btn {
	width:115px;
	padding:9px 12px;
}

.accordian-area .next-reminder .btn:first-child {
	margin-right:21px;
}

.accordian-area .next-reminder .group-container {
	width:151px;
	display: inline-block;
}

.accordian-area .next-reminder .date label {
	font-weight: 300;
	font-size: 14px;
	float:left;
	height:34px;
	line-height: 34px;
	margin-right:10px;
}

.user-info td.left {
	width:72px;
}

.user-info td.large-margin {
	padding-top:30px;
}

.weight-entry {
	margin-left:45px;
}

.weight-entry span {
	width:59px;
	display:inline-block;
}

.user-info td.small-margin {
	padding-top:15px;
}

.measurements {
	border:1px solid #a6a6a6;
	margin-top:10px;
}

.measurements tr th {
	background-color: #000000;
	color:#ffffff;
	font-weight: 300;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	height:30px;
	line-height:30px;
	text-align:center;
	width:85px;
}

.measurements tr td {
	text-align:center;
	padding:5px 0px;
	border-right:1px solid #a6a6a6;
}

.measurements tr td:last-child {
	border-right:none;
}

.measurements tr td.m-type {
	text-align:left;
	padding:5px 10px;
	background-color: #f1f0f0;
}

.last-reminder {
	margin-top:50px;
}

.last-reminder span {
	font-weight:700;
	font-size:15px;
}

.last-reminder p {
	font-size: 12px;
	padding-top:15px;
}

#clients ul.nav {
	width:100%;
	background-color: #ffffff;
	border:1px solid #dcdbdb;
	border-radius:0px;
}

#clients ul.nav li.active a{
	width:100%;
	background-color: #000000;
	border:none;
	color:#ffffff;
	border-right:1px solid #dcdbdb;
	border-radius:0px;
	padding:9px 32px;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	font-size:16px;
}

#your-clients {
	background-color:#ffffff;
	border:1px solid #dcdbdb;
	border-top:none;
}

#your-clients table tr th {
	padding:8px 0px;
}

#your-clients table tr td {
	border-top:1px solid #dcdbdb;
	padding:6px 5px;
}

#your-clients table tr td:first-child,
#your-clients table tr th:first-child {
	padding-left:20px;
}

#your-clients table tr td:last-child,
#your-clients table tr th:last-child {
	padding-right:20px;
}

#your-clients table tr td .client-option {
	width:105px;
	height:22px;
	line-height: 22px;
	text-align:center;
	display: inline-block;
	color:#ffffff;
	background-color:#000000;
	border-radius:5px;
	font-size: 12px;
	font-weight: 700;
}

.search-form {
	position:absolute;
	right:0;
	top:0;
}

.search-form input[type=text] {
	width:215px;
}

.search-form .btn {
	width:80px;
}

.phase-row {
	float:left;
	clear:both;
	width:100%;
}

.phase-row span.phase-name {
	font-weight: 700;
	font-size:16px;
	float:left;
	padding-top:8px;
}

.phase-row a.btn {
	float:right;
	margin-left: 15px;
}

#programs .phase-row p.phase-description {
	float:left;
	clear:both;
	margin-top:10px;
	margin-bottom:20px;
}

#programs p {
	margin:0;
}

#programs .panel-body {
	overflow:scroll;
	overflow-x:hidden;
	max-height:400px;
	position:relative;
}

#programs .panel {
	border:1px solid #dcdbdb;
}


#programs .pagination-container {
	float:left;
	clear:both;
	width:100%;
	text-align:center;
	margin-top:20px;
}

#programs .pagination {
	display: inline-block;
	margin:0;
}

#programs .panel {
	margin:0;
}

#phase_popup .modal-dialog {
	width:1000px;
}

#phase_popup .modal-header {
	color:#ffffff;
	font-size:16px;
}

#phase_popup .modal-body {
	padding:25px;
	margin:0;
}

#phase_popup .session {
	width:100%;
	border:1px solid #dcdbdb;
	margin-bottom:20px;
}

#phase_popup .session-name {
	width:100%;
	height:40px;
	line-height:40px;
	display: block;
	color:#ffffff;
	padding:0px 10px;
	background-color: #404040;
	font-weight: 700;
	font-size: 16px;
}

#phase_popup table tr td,
#phase_popup table tr th {
	padding:5px 5px;
	border-right:1px solid #dcdbdb;
}

#phase_popup table tr th {
	border-bottom:1px solid #404040;
}

#phase_popup table tr td:first-child,
#phase_popup table tr th:first-child {
	padding-left:10px;
}

#phase_popup table tr td:last-child,
#phase_popup table tr th:last-child {
	padding-right:10px;
	border-right:none;
}

#phase_popup table tr:nth-child(2n) {
	background-color: #F0F0F0;
}

.message-to label,
.message-body label {
	font-weight:300;
}

.message-to {
	width:450px;
}

.message-body {
	width:450px;
	margin-top:20px;
	word-wrap:break-word;
}

.message-body textarea {
	resize:none;
	height:140px;
}

.submit {
	text-align:right;
	width:450px;
}

.submit .btn {
	width:150px;
	height:34px;
}

#messages {
	margin:0;
}

#messages .new-message {
	padding-right:0;
	padding-left:22px;
}

#messages .panel {
	margin:0;
	margin-bottom:5px;
}

#messages .panel-heading {
	padding:0;
}

#messages .panel-heading a {
	width:100%;
	display: block;
	height:40px;
	line-height: 40px;
	padding:0px 15px;
}

#messages .panel-heading a span.counter {

}

#messages .panel-body {
	padding:0;
}

#messages .panel-body .messages-section {
	height:200px;
	overflow: scroll;
	overflow-x:hidden;
	padding:15px;
}

#messages .panel-body .reply-section {
	padding:15px;
}

#messages .panel-body .reply-section textarea {
	resize:none;
}

#messages .panel-body .reply-section .submit-message {
	text-align:right;
}


#messages .messages-section .message-from {
	font-size: 12px;
	padding-left:0;
}

#messages .messages-section .message-container {
	width:300px;
	margin-top:15px;
}

#messages .messages-section .trainer-message .message-container {
	float:right;
}

#messages .messages-section .message-content {
	font-size: 12px;
	width: 100%;
	text-align: left;
	border-radius: 5px;
	border: 1px solid #dde0e3;
	padding: 10px;
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 72%, #f6f6f6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#f6f6f6));
	background: -webkit-linear-gradient(top, #ffffff 72%,#f6f6f6 100%);
	background: -o-linear-gradient(top, #ffffff 72%,#f6f6f6 100%);
	background: -ms-linear-gradient(top, #ffffff 72%,#f6f6f6 100%);
	background: linear-gradient(to bottom, #ffffff 72%,#f6f6f6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
	word-wrap:break-word;
}

#messages .messages-section .trainer-message .message-content {
	background: #f5f7f8;
	background: -moz-linear-gradient(top, #f5f7f8 72%, #e4e6e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#f5f7f8), color-stop(100%,#e4e6e7));
	background: -webkit-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%);
	background: -o-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%);
	background: -ms-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%);
	background: linear-gradient(to bottom, #f5f7f8 72%,#e4e6e7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f8', endColorstr='#e4e6e7',GradientType=0 );
	word-wrap:break-word;
}

#messages .panel-body .message {
	margin:0;
}