#login-form .col-xs-6 {
	padding-bottom: 20px;
}

#login-form .login {
border-right: 1px solid #cccccc;
}

#login-form input[type=text], #login-form input[type=password] {
	width: 80%;
}

#login-form {
	padding: 20px 0px 50px 0px;
}

#login-form h4 {
	font-size: 20px;
	margin-bottom: 15px;
}

#login-form a {
	display: block;
}

.login-submit {
	margin-top: 55px;
}

.registration-submit {
	margin-top: 20px;
}

.forgot-password .inner-content {
	padding-top:30px;
}

.forgot-password .form-control {
	width:300px;
	margin-bottom:20px;
}

.forgot-password p.registration-message {
	margin-top:15px;
}

.errors .inner-content {
	padding-top:20px;
}