.dash-header {
	background-color: #db8224;
	background-image: url('/assets/images/dashboard-banner.jpg');
	background-repeat: no-repeat;
	min-width:1265px;
}

.dash-header span.user-name {
	height:75px;
	line-height: 75px;
	color:#ffffff;
	float:left;
	font-size:16px;
	margin-left:63px;
}

.dash-settings {
	width:178px;
	float:right;
	margin-right:50px;
	margin-top:20px;
	white-space: nowrap;
}

.dash-settings .dropdown-menu{
	left:inherit;
	right:0;
	width:178px;
	margin:0;
}

.dash-settings .btn-group,
.dash-settings .btn-group button {
	text-align:left;
}

.dash-settings .btn-group button.settings-button {
	width:178px;
	border-radius: 4px;
	position:relative;
}

.dash-settings .btn-group button.settings-button span.caret{
	position:absolute;
	right:10px;
	top:15px;
}

.dash-settings .btn-group .dropdown-toggle {
	border-left:1px solid #cccccc;
}

.dash-header .inner-content {
	width:100%;
	min-width:1265px;
	height:75px;
	margin:0;
}

.dash-header .dash-logo {
	width:200px;
	height:75px;
	line-height: 75px;
	display: block;
	float:left;
}

.dash-header .dash-logo img {
	margin-left:33px;
}

.dash .columns {
	width:1061px;
	min-height:100%;
	display: table;
}

.dash .columns.full-width {
	width:100%;
}

.dash .navigation {
	width:204px;
	min-width:204px;
	background-color:#000000;
	display:table-cell;
	vertical-align: top;
	border-right:4px solid #f2f2f2;
}

.dash .columns.full-width .navigation {
	border-right:none;
	width:200px;
	min-width:200px;
}

.dash .body {
	width:865px;
	background-color: #ffffff;
	display:table-cell;
	vertical-align:top;
	padding-left:54px;
	padding-bottom:50px;
}

.dash .columns.full-width .body {
	width:100%;
	min-width: 1065px;
	padding:0;
}

.dash .body label {
	font-family: 'OpenSans', 'Arial', 'Helvetica', 'sans-serif';
}

.clearfixed {
	clear:both;
}

.dash .navigation ul {
	list-style: none;
	width:100%;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #c8352b;
}

.dash .navigation ul li {
	width:100%;
}

.dash .navigation ul li a {
	color:#ffffff;
	width:100%;
	height:56px;
	line-height: 56px;
	padding-left:34px;
	display: block;
	border-top:1px solid #c8352b;
	background-color: #ee4234;
	font-size: 16px;
	position:relative;
}

.dash .navigation ul li a:hover {
	text-decoration: none;
	background-color: #f78141;
}

.dash .navigation ul li.active a {
	background-color:#000000;
	border-top:none;
}

.dash .navigation ul li a span.sprite {
	margin-right:10px;
}

.dash #sub_footer,
.dash #footer {
	min-width:1265px;
}

.dash #sub_footer .inner-content{
	margin:0px 0px 0px 215px;
}

.dash #footer .inner-content {
	margin:0px 0px 0px 200px;
}

.dash-heading {
	font-family: 'Arial';
	font-size:20px;
	margin-top:30px;
	margin-bottom:30px;
	font-weight:700;
}

.message-area {
	margin-top:15px;
}

div.black-label {
	width:100%;
	height:56px;
	padding:0;
	text-align:center;
	line-height: 56px;
	color:#ffffff;
	background-color: #000000;
	font-weight:700;
	font-size:18px;
	display: block;
	min-width: 1065px;
	position:relative;
}

div.area-small {
	width:818px;
	margin-left:57px;
}

.dash_graph_container .data-wrapper {
	width:520px;
	padding:20px;
	background-color: #f2f2f2;
	border:1px solid #a6a6a6;
	position: relative;
}


.dash_graph_container table.graph-table {
	width:358px;
	background-color: #ffffff;
	border:1px solid #a6a6a6;
}

.dash_graph_container table.graph-table tr th {
	background-color: #000000;
	color:#ffffff;
	height:30px;
	line-height: 30px;
	padding-left:10px;
}

.dash_graph_container table.graph-table tr td {
	border-right:1px solid #a6a6a6;
	padding:3px 3px 3px 15px;
	font-size:11px;
	width:100px;
}

.dash_graph_container table.graph-table tr td.type {
	width:200px;
}

.dash_graph_container table.graph-table tr td:last-child {
	border-right:none;
}

.dash_graph_container .highcharts-tooltip > span {
	background: #ffffff;
	padding:0px;
}

.dash_graph_container .body-fat {
	position:absolute;
	right:20px;
	top:100px;
	text-align:center;
	width:104px;
	font-size:20px;
}

.dash_graph_container .body-fat span {
	font-size:42px;
	font-weight: 700;
	display:block;
}

#dash_graph.dash_graph_container .body-fat {
	position:relative;
	right:inherit;
	top:inherit;
	text-align:center;
	width:104px;
	font-size:15px;
}

#dash_graph.dash_graph_container .data-wrapper {
	width:124px;
	padding:10px;
	background-color: #f2f2f2;
	border:1px solid #a6a6a6;
	position: relative;
	border-radius:3px;
}

#dash_graph.dash_graph_container .body-fat span {
	font-size:30px;
	font-weight: 700;
	display:block;
}

.dash_graph_container table.graph-table tr td.type span {
	width:20px;
	display:inline-block;
}

.pie-chart {
	display: inline-block;
	margin-right:50px;
}

.pie-chart, .pie-chart .graph {
	width:234px;
	height:234px;
	position:relative;
}

.pie-chart .graph-label {
	width:75px;
	height:75px;
	text-align: center;
	line-height: 75px;
	color:#ffffff;
	font-size:14px;
	border-radius:50%;
	background-color: #000000;
	display: block;
	position:absolute;
	top:78px;
	left:80px;
	z-index: 1000;
	font-weight: 700;
}

.dashboard-container {
	padding-top:20px;
}

.dashboard-container hr {
	border-color:#a6a6a6;
	margin:40px 0px 20px 0px;
}

.dashboard-container .pie-chart .footer-info {
	width:100%;
	text-align:center;
	font-weight:700;
	color:#000000;
}

.dashboard-container h4 {
	color:#ee4234;
	font-size:18px;
	font-weight:700;
	margin-bottom:20px;
}

.count-indicator {
	border-radius:50%;
	width:15px;
	height:15px;
	font-size: 10px;
	background-color: #ffffff;
	line-height: 15px;
	color:#000000;
	position:absolute;
	top:10px;
	right:20px;
	text-align:center;
	font-weight: 700;
}

/* Welcome Modal */
#welcome_message ol li {
	margin-bottom: 10px;
}

span.aud {
	font-size:12px;
	font-weight:300;
}