#food {
	width: 875px;
	margin: 0px;
	padding: 0px 0px 50px 56px;
}

#food .food-info {
	border:1px solid #ababab;
	margin-top:45px;
	margin-left:0;
	margin-right:0;
}

#food .food-info .col-xs-4 {
	padding:0;
}

#food .food-info .col-xs-4 .plan-header {
	font-size: 20px;
	font-weight:700;
	font-family: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
	color:#ffffff;
	text-align:center;
	height:57px;
	line-height: 57px;
	background-color: #000000;
	border-bottom:1px solid #ababab;
}

#food .food-info .col-xs-4 .plan-info {
	font-size: 12px;
	font-weight:300;
	font-family: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
	color:#000000;
	background-color:#ffffff;
	padding:30px;
	line-height: 25px;
	width:100%;
	border-right:1px solid #ababab;
	height:310px;
	text-align: center;
}

#food .food-info .col-xs-4:last-child .plan-info {
	border-right:none;
}

#food .food-info .col-xs-4 .plan-info ul,
#food .food-info .col-xs-4 .plan-info ol {
	margin:0 0 0 5px;
	padding:0;
	list-style-position: inside;
}

#food .food-info .col-xs-4 .plan-options {
	background-color:#eeeeee;
	text-align:center;
	padding:10px 0px;
	border-top:1px solid #ababab;
	width:100%;
	border-right:1px solid #ababab;
}

#food .food-info .col-xs-4:last-child .plan-options {
	border-right:none;
}

#food .food-info .col-xs-4 .plan-options .btn {
	width:202px;
	margin:7px 0px;
	font-family: 'Arial', 'Verdana', 'Helvetica', 'sans-serif';
	font-size: 14px;
	padding:0px;
	height:42px;
	line-height:42px;
	font-weight:700;
}

#food .food-info .col-xs-4 .plan-options input[type=radio].hidden-radio {
	display:none;
}

#food .food-info .col-xs-4 .plan-options input[type=radio].hidden-radio + label {
	background-color: #a8a6a6;
	color: #ffffff;
}

#food .food-info .col-xs-4 .plan-options input[type=radio].hidden-radio + label:before {
	content: "Select this plan";
}

#food .food-info .col-xs-4 .plan-options input[type=radio].hidden-radio:checked + label {
	background-color: #ee4234;
	color: #ffffff;
}

#food .food-info .col-xs-4 .plan-options input[type=radio].hidden-radio:checked + label:before {
	content: "Plan Selected";
}

#food .fitness-app {
	width:100%;
	text-align:center;
	margin-top:20px;
}

#food .fitness-app p {
	font-size:16px;
}

#food .fitness-app p span {
	font-size: 20px;
	font-weight: 700;
}

#food .fitness-app a {
	display: inline-block;
}

#food .goal-form {
	margin-top:30px;
	width:100%;
}

#food h3 {
	margin-bottom:20px;
	font-size: 20px;
	font-weight: 700;
}

#food .form-group {
	height:34px;
	line-height: 34px;
}

#food .input-group-container {
	display: inline-block;
	width:190px;
}

#food .goal-form label,
.labels label {
	float:left;
	width:120px;
	margin:0;
	padding:0;
	height:34px;
	font-weight:300;
	font-size:14px;
	font-family: 'OpenSans', 'Arial','sans-serif';
}

#food .input-group-container .cals {
	padding: 6px 16px;
}

#food .input-group-container .grams {
	padding: 6px 9px;
}

#food .submit .col-xs-12 {
	text-align:center;
	margin:30px 0px 0px 0px;
}

.goal-form .input-group .tooltip.right {
	width:150px;
}

.btn-right {
	position:absolute;
	top:10px;
	right:50px;
}

.right-goals,
.left-goals {
	padding:0px 0px;
}

.right-goals {
	padding-left:100px;
	width:490px;
}

.left-goals {
	border-right:1px solid #a6a6a6;
	width:300px;
	position:relative;
}

.left-goals .goal-group {
	padding-bottom: 23px;
	padding-top: 6px;
}

.left-goals .goal-group span {
	width:140px;
	display: inline-block;
	font-size:14px;
}

#food.food-entry {
	margin-top:30px;
}

.food-entry-group {
	margin-bottom:30px;
	position:relative;
	margin-top:65px;
}

.food-entry-group h4 {
	position:absolute;
	right:10px;
	top:-40px;
	font-size: 14px;
	color:#686868;
}

.float-right{
	float:right;
}

.food-goal-entry {
	width:320px;
	margin-right:80px;
	float:left;
	margin-bottom:50px;
}

.food-goal-entry h4 {
	margin-bottom:30px;
}

.left-goals select {
	width:250px;
	position:absolute;
	top:60px;
	left:-2px;
}

.goal_group_container {
	margin-top:65px;
}

#food .submit.small-right .col-xs-12 {
	text-align:right;
	position: absolute;
	top: 15px;
	right: 65px;
	margin:0;
}

#previous_food_entries {
	width:100%;
	float:left;
	margin-top:0px;
}

#previous_food_entries .area-small {
	margin:0;
	width:710px;
}

.slider_container {
	list-style: none;
	padding:0;
	width:710px;
	height:265px;
	position: relative;
	overflow: hidden;
}

#previous_entry_list {
	list-style: none;
	padding:0;
	position:absolute;
	top:0;
	left:0;
	white-space: nowrap;
	font-size: 0;
}

#previous_entry_list li {
	width:710px;
	display: inline-block;
	font-size:14px;
}

#previous_entry_list li table {
	width:100%;
	border-color:#000000;
}

#previous_entry_list li table tr td {
	padding:5px 8px;
	background-color: #ffffff;
	width:50%;
}

#previous_entry_list li table tr:nth-child(2n+1) td {
	background-color: #e8e8e8;
}

#previous_entry_list li table tr td.center-cell {
	text-align:center;
	background-color: #606060;
	color:#ffffff;
	font-size:16px;
}

.slider-controls {
	width:710px;
	display: block;
	margin-top:20px;
	float:left;
	clear:both;
}

.slider-controls #move-left {
	float:right;
	height:100%;
}

.slider-controls #move-right {
	float:left;
	display: table-cell;
	height:100%;
}

.slider-controls a {
	color:#000000;
}

.slider-controls a:hover {
	text-decoration: none;
}

.slider-controls a span {
	font-size:18px;
	color:#ee4234;
}