.wrapper#home {
	background-image:url('/assets/images/home-banner.jpg');
	background-position: center center;
}

#home .inner-content {
	height:504px;
	display: block;
	padding:72px 0px;
	position:relative;
}

#home .inner-content.banner h1 {
	color:#ffffff;
	font-weight: 700;
	font-size:50px;
	margin:0px;
}

#home .inner-content.banner .signup-form {

}

#home .inner-content.banner .signup-form label.placeholder {
	padding:10px 13px;
}

#home .inner-content.banner .signup-form input.form-control {
	width:215px;
	height:40px;
	margin-right:10px;
}

#home .inner-content.banner .signup-form .form-inline {
	margin-top:25px;
}

#home .inner-content.banner .signup-form .opaque-button {
	width:443px;
	height:58px;
	border:2px solid #ffffff;
	background-color: #e4572c;
	background: rgba(227,84,44,0.5);
	border-radius: 6px;
	color:#ffffff;
	font-size:29px;
	text-shadow: 1px 1px #4b4b4b;
	margin-top:52px;
	display: block;
}

#home .inner-content.banner .signup-form a.opaque-button {
	text-align:center;
	line-height: 54px;
	margin-top: 116px;
}

#home .inner-content.banner .signup-form a.opaque-button:hover {
	text-decoration:none;
}

#quotes {
	background: #000;
	color: #ee4234;
}

#quotes .inner-content {
	padding:33px 0px;
	text-align:center;
}

#quotes .inner-content ul {
	list-style: none;
	margin-bottom:0;
}

#quotes .inner-content ul li {
	font-size:28px;
	font-style: italic;
	color:#ee4234;
}

#home-page-title h2 {
	text-align: center;
	color:#000000;
	font-size:34px;
	font-weight: 700;
	margin-bottom:0px;
	margin-top: 43px;
}

.stacks {
	border-bottom:1px solid #dadada;
}

.stacks.last {
	border-bottom:none;
}

.stacks .inner-content {
	padding:32px 0px;
}

.stacks .inner-content h4 {
	font-size:22px;
}

.stacks .inner-content p {
	font-size:13px;
	color:#6c6c6c;
	line-height: 25px;
	margin:0;
}

.stacks .inner-content ul {
	list-style: none;
	padding:0px;
	margin:0;
}

.stacks .inner-content ul li {
	font-size:13px;
	color:#6c6c6c;
	line-height: 25px;
}

.stacks .inner-content ol {
	padding:0px 22px;
	margin:0;
}

.stacks .inner-content ol li {
	font-size:13px;
	color:#6c6c6c;
	line-height: 25px;
}

.stacks .inner-content .image {
	padding:0;
}

.signup-form div.checkbox {
	position:relative;
	margin-right:16px;
	margin-top:10px;
	float:left;
}

.signup-form div.checkbox label {
	color:#ffffff;
	font-weight:300;
	font-size:12px;
	padding-left:20px;
}

.signup-form div.checkbox input {
	position:absolute;
	top:0px;
	left:0px;
}

.signup-button .inner-content {
	text-align: center;
	padding:25px 0px 50px 0px;
}

.signup-button .inner-content .login {
	width:440px;
	height:58px;
	font-size:29px;
	text-shadow: 1px 1px #4b4b4b;
}

.signup-button .inner-content a.login {
	padding:0;
	line-height: 58px;
}

.signup-button .inner-content a.login:hover {
	text-decoration:none;
}
