.portal-login {
	width:100%;
	min-height:100%;
	background-color: #f1f0f0;
	padding:1px;
}
.portal-login .portal-logo {
	width:151px;
	height:48px;
	margin:85px auto 0px auto;
}

.portal-login .inner-content {
	width:705px;
	margin:0 auto;
}

.portal-login .inner-content h2 {
	text-align: center;
	font-size:24px;
	margin-top:37px;
	margin-bottom:0px;
	font-family: 'Trebuchet MS', 'Arial', 'Helvetica';
}

.portal-login .inner-content .login-container {
	margin-top:32px;
}

.login-container .login-header {
	width:100%;
	height:40px;
	background-color: #000000;
	color:#ffffff;
	line-height: 40px;
	text-align:center;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Trebuchet MS', 'Arial', 'Helvetica';
}

.login-container .login-body {
	background-color: #ffffff;
	width:100%;
	padding:24px 54px;
}

.login-container .login-body .row {
	margin:0;
	padding:0;
}

.login-container .login-body .btn {
	width:117px;
	height:34px;
	margin-top:25px;
	font-family: 'Trebuchet MS', 'Arial', 'Helvetica';
	font-size:18px;
	padding:0px;
}

.login-container .login-body label {
	font-weight:300;
}

.input-column {
	float:left;
	width:220px;
	margin-right:20px;
}

.submit-column {
	float:left;
	width:115px;
}