*, h1, h2, h3, h4, h5, h6 {
	font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/css/fonts/opensans-light-webfont.eot');
    src: url('/assets/css/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/fonts/opensans-light-webfont.svg#open_sanslight') format('svg'),
         url('/assets/css/fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/css/fonts/opensans-regular-webfont.eot');
    src: url('/assets/css/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg'),
         url('/assets/css/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/css/fonts/opensans-bold-webfont.eot');
    src: url('/assets/css/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg'),
         url('/assets/css/fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: 500;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/assets/css/fonts/opensans-extrabold-webfont.eot');
    src: url('/assets/css/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/css/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg'),
         url('/assets/css/fonts/opensans-extrabold-webfont.ttf') format('truetype');
    font-weight: 700;
}

html, body {
	height:100%;
	width:100%;
	background-color: #ffffff;
}

.phase { /* Add this class to anything that you want text colours to phase on hover. */
	-webkit-transition: color .2s ease-in;
	-moz-transition: color .2s ease-in;
	-ms-transition: color .2s ease-in;
	-o-transition: color .2s ease-in;
	transition: color .2s ease-in;
}

.quick-phase { /* Add this class to anything that you want text colours to phase on hover. */
	-webkit-transition: color .1s ease-in;
	-moz-transition: color .1s ease-in;
	-ms-transition: color .1s ease-in;
	-o-transition: color .1s ease-in;
	transition: color .1s ease-in;
}

.quick-phase-bg { /* Add this class to anything that you want text colours to phase on hover. */
	-webkit-transition: background-color .1s ease-in;
	-moz-transition: background-color .1s ease-in;
	-ms-transition: background-color .1s ease-in;
	-o-transition: background-color .1s ease-in;
	transition: background-color .1s ease-in;
}

.gradient-background {
	background: #f15e52; /* Old browsers */
	background: -moz-linear-gradient(left,  #f15e52 0%, #f9a340 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f15e52), color-stop(100%,#f9a340)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* IE10+ */
	background: linear-gradient(to right,  #f15e52 0%,#f9a340 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15e52', endColorstr='#f9a340',GradientType=1 ); /* IE6-9 */
}

img {
	border:none;
}

.modal {
 	overflow-y: auto;
}

.modal-open {
	overflow: auto;
}

.modal-header button.close {
	width: 32px;
	height: 32px;
	display: block;
	margin-top: 0px;
}


.modal-content {
	border-radius: 0px;
}

.modal#popup_message .modal-content {
	border-radius: 3px;
}

.modal#popup_message .modal-header {
	border:none;
	width:15px;
}

.modal#popup_message .modal-header button.close {
	width:15px;
	height:15px;
}

.modal.errors#popup_message .modal-content {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
}

.modal.messages#popup_message .modal-content {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
}

.modal.success#popup_message .modal-content {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #3c763d;
}

label.placeholder {
	position: absolute;
	width: inherit;
	border: none;
	background: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-weight: 300;
	color: #999999;
	z-index: 100
}

label.placeholder:hover {
	cursor:text;
}

#four-oh-four .inner-content {
	margin-top:50px;
}

label span {
	color:#f04634;
}

.wrapper {
	width:100%;
	min-width:1000px;
	display: block;
}

.primary {
	color:#ee4234;
}

.btn {
	border:none;
}

.btn-primary {
	background-color: #ee4234;
	color:#ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
	background-color:#fc5849;
	outline:0;
}

.page-wrapper {
	min-height: 100%;
}

.wrapper .inner-content {
	width:1000px;
	margin:0 auto;
}

#header {
	background-color:#000000;
}

#header .inner-content {
	height:75px;
}

#header .inner-content .logo {
	width:115px;
	height:75px;
	float:left;
	display: block;
}

#header .inner-content ul.top-nav {
	margin-right:22px;
}

#header .inner-content ul.top-nav li {
	float:left;
}

#header .inner-content ul.top-nav li a {
	height:75px;
	line-height:75px;
	padding:0px 22px;
	color:#ffffff;
	text-transform: uppercase;
	display:block;
	font-size: 14px;
}

#header .inner-content ul.top-nav li.last a {
	padding-right: 0;
}

#header .inner-content ul.top-nav li a:hover {
	color:#f3682a;
	text-decoration: none;
	background-color: transparent;
}

#header .inner-content ul.top-nav li a:focus {
	background-color: transparent;
}

#header .inner-content .login {
	float:right;
	margin:17px 0px 0px 22px;
	font-size: 12px;
	height:39px;
	line-height: 39px;
	padding:0px 12px;
}

#sub_footer {
	background-color:#000000;
}

#sub_footer .inner-content {
	padding:20px 0px;
}

#sub_footer .inner-content ul.footer-nav {
	list-style: none;
	padding: 0;
	margin-bottom: 0;
}

#sub_footer .inner-content ul.footer-nav li {
	padding-top: 15px;
	padding-bottom: 15px;
}
#sub_footer .inner-content ul.footer-nav li a {
	font-size: 16px;
	font-weight: bold;
	color:#ffffff;
	padding:3px 0px;
}
#sub_footer .inner-content ul.footer-nav li.active a,
#sub_footer .inner-content ul.footer-nav li a:hover {
	color:#f3682a;
	text-decoration: none;
}
#sub_footer .inner-content ul.footer-nav li.active {
	background: #222;
}

#sub_footer .inner-content .tab-content .tab-pane {
	background: #222;
	padding: 10px 15px;
	font-size: 14px;
	color:#ffffff;
}

#sub_footer .inner-content .tab-content .tab-pane#contact ul {
	list-style: none;
	padding: 0;
}

#sub_footer .inner-content .tab-content .tab-pane ul li {
	padding:3px 0px;
}

#sub_footer .inner-content .tab-content .tab-pane a {
	font-size: 14px;
	color:#ffffff;
}

#sub_footer .inner-content .tab-content .tab-pane a:hover {
	color:#f3682a;
	text-decoration: none;
}

#footer {
	background-color:#ffffff;
	text-align: left;
	padding:12px 0px 15px 0px;
	color:#000000;
	font-size:12px;
}

.sprite {
	background-image: url('/assets/images/spritesheet.png');
	display:inline-block;
	background-repeat: no-repeat;
}

.sprite-32 {
	width:32px;
	height:32px;
}

.sprite-16 {
	width:16px;
	height:16px;
}

.sprite-close {
	background-position:0px -32px;
	position:absolute;
	display: block;
	top:-16px;
	right:-14px;
	z-index:100;
}

.sprite-questionmark {
	background-position:-80px 0px;
	width:16px;
	height:16px;
	z-index:100;
}

.sprite-cross {
	background-position:-96px 0px;
	width:16px;
	height:16px;
	z-index:100;
}

.sprite-tick {
	background-position:-112px 0px;
	width:16px;
	height:16px;
	z-index:100;
}

#login_modal .modal-content {
	width:610px;
}

#login_modal .modal-content .modal-header {
	padding-top:0px;
	padding-bottom:0px;
}

#login_modal .modal-content .modal-header .two-column h2 {
	color:#ffffff;
	margin:0px 0px 0px 20px;
	text-shadow: 1px 1px #4b4b4b;
	font-size: 22px;
	height:58px;
	line-height: 58px;
	font-weight:700;
	font-family: "Helvetica", "Arial", "Verdana", "sans-serif";
}

#login_modal .modal-content .modal-header .two-column .login {
	background-color: #f04634;
	height:58px;
	line-height: 58px
}

#login_modal .modal-content .modal-header .two-column .signup {
	background-color:#f59021;
	height:58px;
	line-height: 58px
}

#login_modal .modal-content .modal-header .two-column .signup h2 {
	margin-left: 29px;
}

#login_modal .modal-content .modal-header .two-column .login h2 {
	margin-left: 12px;
}

#login_modal .modal-content .modal-body .forms .col-xs-6 {
	padding: 0px 40px;
}

#login_modal .modal-body {
	padding: 41px 20px;
}

#login_modal .modal-content .modal-body .forms .col-xs-6 a.forgot-password {
	float:right;
	font-size:12px;
	text-decoration: underline;
	color:#000000;
}

#login_modal .modal-content .modal-body .forms .col-xs-6 input[type=submit] {
	float:right;
	clear:both;
	margin-top:10px;
	padding: 6px 32px;
}

#login_modal .modal-content .modal-body .forms .col-xs-6.signup {
	border-left:1px solid #8a8a8a;
}

#login_modal .modal-content .modal-body div.checkbox {
	position:relative;
	margin-right:16px;
	margin-top:10px;
	float:left;
}

#login_modal .modal-content .modal-body div.checkbox label {
	color:#000000;
	font-weight:300;
	font-size:12px;
}

.page-name {
	background-color:#eeeeee;
	padding:10px 0px;
}

.page-name .inner-content {
	
}

.page-name .inner-content h1 {
	margin:0;
	font-size:24px;
	padding:0px 10px;
}

.eway-block img {
	height:50px;
	width:auto;
}

.sprite.ssl {
	width:80px;
	height:48px;
	background-position: 0px -96px;
	display:block;
}

.sprite.mastercard {
	width:48px;
	height:32px;
	background-position: 0px -144px;
}

.sprite.visa {
	width:48px;
	height:32px;
	background-position: -48px -144px;
}

.sprite.dashboard {
	width:16px;
	height:16px;
	background-position: 0px 0px;
}

.sprite.training {
	width:16px;
	height:16px;
	background-position: -16px 0px;
}

.sprite.food {
	width:16px;
	height:16px;
	background-position: -32px 0px;
}

.sprite.messages {
	width:16px;
	height:16px;
	background-position: -48px 0px;
}

.sprite.progress-graph {
	width:16px;
	height:16px;
	background-position: -64px 0px;
}

#popup_message button.close {
	margin-left:20px;
}

a.get_exercise {
	height:16px;
	line-height: 16px;
	float:left;
}

/* CSS loading animation */
.bubblingG {
	text-align: center;
	width:100%;
	height:50px;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 25px auto;
	background: #EE4434;
	-moz-border-radius: 50px;
	-moz-animation: bubblingG 0.5s infinite alternate;
	-webkit-border-radius: 50px;
	-webkit-animation: bubblingG 0.5s infinite alternate;
	-ms-border-radius: 50px;
	-ms-animation: bubblingG 0.5s infinite alternate;
	-o-border-radius: 50px;
	-o-animation: bubblingG 0.5s infinite alternate;
	border-radius: 50px;
	animation: bubblingG 0.5s infinite alternate;
}

#bubblingG_1 {
	-moz-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

#bubblingG_2 {
	-moz-animation-delay: 0.15s;
	-webkit-animation-delay: 0.15s;
	-ms-animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

#bubblingG_3 {
	-moz-animation-delay: 0s;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	-o-animation-delay: 0s;
	animation-delay: 0s;
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#EE4434;
		-moz-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#DB9B5C;
		-moz-transform: translateY(-21px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#EE4434;
		-webkit-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#DB9B5C;
		-webkit-transform: translateY(-21px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#EE4434;
		-ms-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#DB9B5C;
		-ms-transform: translateY(-21px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#EE4434;
		-o-transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#DB9B5C;
		-o-transform: translateY(-21px);
	}

}

@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:#EE4434;
		transform: translateY(0);
	}

	100% {
		width: 24px;
		height: 24px;
		background-color:#DB9B5C;
		transform: translateY(-21px);
	}
}
/* End CSS loading animation */

#exercise_popup .modal-content .loading-animation {
	display:block;
	padding:50px 0px;
}

#exercise_popup .modal-content {
	width:740px;
}

#exercise_popup .modal-content .exercise-content {
	display:none;
}

#exercise_popup .modal-content .exercise-content .modal-header {
	height:48px;
	line-height:48px;
	padding:0px 0px 0px 25px;
	color:#ffffff;
	font-size: 16px;
}

#exercise_popup .modal-content .exercise-content .modal-body {
	padding:25px;
	margin:0;
}

#exercise_popup .modal-content .exercise-content .modal-body .col-xs-6 {
	padding:0;
}

#exercise_popup .modal-content .exercise-content .modal-body .canvas-area {
	width:332px;
	height:207px;
	border:1px solid #cccccc;
}

#exercise_popup .modal-content .exercise-content .modal-body .canvas-area ul.large-images {
	list-style: none;
	margin:0;
	padding:0;
}

#exercise_popup .modal-content .exercise-content .modal-body .canvas-area ul.large-images li {
	text-align:center;
}


#exercise_popup .modal-content .exercise-content .modal-body .canvas-area ul.large-images li#loading-animation {
	display: none;
	padding:78px 0px;
}

#exercise_popup .modal-content .exercise-content .modal-body .canvas-area iframe {
	border:none;
}

#exercise_popup .modal-content .exercise-content .modal-body ul.exercise-images {
	list-style: none;
	padding:0;
	margin:0;
}

#exercise_popup .modal-content .exercise-content .modal-body ul.exercise-images li {
	float:left;
	margin-right:5px;
	margin-top:3px;
	width:79px;
	height:55px;
	padding:0px;
	text-align:center;
	border:1px solid #cccccc;
}

#exercise_popup .modal-content .exercise-content .modal-body ul.exercise-images li.youtube {
	background-color: #000000
}

#exercise_popup .modal-content .exercise-content .modal-body ul.exercise-images li a img {
	max-width:77px;
	max-height:53px;
}

#exercise_popup .modal-content .exercise-content .modal-body .exercise-info h3 {
	font-size:16px;
	margin-top:0px;
	font-weight:700;
}

#exercise_popup .modal-content .exercise-content .modal-body .exercise-info h4 {
	font-size:14px;
	font-weight:700;
}

#exercise_popup .modal-content .exercise-content .modal-body .exercise-info p {
	font-size:12px;
	margin-bottom:20px;
}

#exercise_popup .modal-content .exercise-content .modal-body .exercise-info p.modifier {
	margin:0;
}

#exercise_popup .modal-content .exercise-content .modal-body .exercise-info p.modifier span {
	width:110px;
	display: inline-block;
}

.white-text {
	color:#ffffff;
}

div.checkbox a {
	color:#ffffff;
	font-size:12px;
}

#login_modal div.checkbox a {
	color:#000000;
	font-size:12px;
}


.nice-file {
	width:100%;
	height:34px;
	position:relative;
	cursor: pointer;
	background-color: #ee4234;
	color:#ffffff;
	line-height:34px;
	border-radius: 4px;
	padding:0px 5px;
	text-align: center;
}

.nice-file:before {
	content:"Choose image";
}

.nice-file:after {
	position:absolute;
	left:100%;
	top:0px;
	padding:0px 0px 0px 10px;
	min-width:160px;
	height:34px;
	line-height: 34px;
	color:#000000;
	font-size: 12px;
	content:attr(data-filename);
	text-align:left;
}


.nice-file input[type=file]{
	width:100%;
	font-size:200px;
	height:34px;
	position:absolute;
	top:0px;
	left:0px;
	outline:none;
	display:block;
	filter: alpha(opacity=0);
	opacity:0;
	cursor: pointer;
	overflow:hidden;
}

.nice-file:hover, .nice-file input[type=file]:hover{
	cursor: pointer;
}

.nice-file:hover,.nice-file:focus {
	background-color: #fc5849;
}

.form-inline .nice-file {
	display: inline-block;
}

.chzn + .chosen-container,
.chzn + .chosen-container .chosen-single,
.chzn + .chosen-container .chosen-single span,
.chzn + .chosen-container .chosen-single div {
	height:34px;
	line-height: 34px;
}

.chzn + .chosen-container .chosen-single div {
	padding-top:5px;
}

.chzn + .chosen-container .chosen-single,
.chzn + .chosen-container-active.chosen-with-drop .chosen-single {
	background:#ffffff;
	font-size: 14px;
}

.chzn + .chosen-container .chosen-single div,
.chzn + .chosen-container-active.chosen-with-drop .chosen-single div {
	border-left:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	height:35px;
	width: 31px;
	padding-left: 10px;
}

.chzn + .chosen-container-active.chosen-with-drop .chosen-single div {
	margin-top:-3px;
	padding-top: 8px;
}

.chzn + .chosen-container-single .chosen-single span {
	margin-right:35px;
}

span.counter {
	float:right;
	margin-right:10px;
	background-color: #ee4234;
	height:20px;
	width:20px;
	display: block;
	line-height: 20px;
	color:#ffffff;
	font-size:10px;
	border-radius:50%;
	text-align:center;
	margin-top:10px;
}