.message-wrapper {
	width:630px;
	padding-left:15px;
	padding-bottom:20px;
	max-height:475px;
	overflow:auto;
	overflow-x:hidden; 
}

.message {
	width:100%;
	margin-bottom:15px;
}

.message-container {
	width:425px;
	float:left;
}

.message-container .message-from {
	width:100%;
	text-align:left;
	padding:3px 8px;
}

.message-user .message-container {
	float:right;
}

.message-container .message-body {
	font-size:12px;
	width:100%;
	text-align:left;
	border-radius:5px;
	border:1px solid #dde0e3;
	padding:10px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 72%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffffff), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 72%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 72%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 72%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 72%,#f6f6f6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.message-user .message-container .message-body {
	background: #f5f7f8; /* Old browsers */
	background: -moz-linear-gradient(top, #f5f7f8 72%, #e4e6e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#f5f7f8), color-stop(100%,#e4e6e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f5f7f8 72%,#e4e6e7 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f5f7f8 72%,#e4e6e7 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f7f8', endColorstr='#e4e6e7',GradientType=0 ); /* IE6-9 */
	word-wrap:break-word;
}

.send-message {
	width:630px;
	padding-left:15px;
	padding-right:15px;
	text-align:right;
	margin-top:50px;
}

.send-message textarea {
	resize:none;
	width:425px;
	height:92px;
	float:right;
	clear:both;
}

.send-message .btn.btn-primary {
	float:right;
	clear:both;
	margin-top:20px;
}