.entry-button {
	margin-top:40px;
	margin-left:102px;
}

.entry-button a.btn {
	margin-left:15px;
	font-weight:700;
	width:200px;
}

.entry-button span {
	font-weight:700;
}

.new-progress label {
	font-weight:300;
	width:110px;
}

.new-progress hr {
	width: 333px;
	text-align: left;
	margin: 26px 0;
	border-color:#a6a6a6;
}

.new-progress h3 {
	font-size:20px;
	font-weight:300;	
}

.new-progress ol {
	margin:0px;
	padding-left:20px;
	/*width:370px;*/
}

.new-progress ol li {
	list-style-position: outside;
	margin-bottom:5px;
}

.new-progress label {
	/*float: left;*/
}

.new-progress .input-group-container {
	display: inline-table;
	width:200px;
	vertical-align: middle;
}

.measurement-explanation {
	height:32px;
	width:16px;
	display: inline-block;
	margin-left:7px;
}

.measurement-explanation span {
	margin-bottom:-3px;
}

.date span {
	margin-left:20px;
}

.new-progress .submit {
	width:333px;
	text-align: center;
	padding:20px 0px;
}

.new-progress .nice-file {
	width:200px;
}

div#main_image ul#main_images {
	float:left;
	margin:0;
	padding:0;
	list-style: none;
	width:506px;
	height:406px;
	border:1px solid #c0c0c0;
	padding:2px;
}

div#main_image ul#main_images li {
	position:relative;
	height:400px;
	width:100%;
}

div#main_image ul#main_images li div.date-taken {
	width:100%;
	padding:5px;
	background-color: rgba(255,255,255,0.5);
	color:#000000;
	position:absolute;
	top:0;
	left:0;
}

div#main_image ul#main_images li img {
	max-height:400px;
	max-width:500px;
}

.photo_gallery ul#thumbnails {
	float:left;
	margin:0;
	padding:0;
	list-style: none;
	width:250px;
	height:400px;
	overflow: scroll;
	overflow-x:hidden;
	margin-left:25px;
}

.photo_gallery ul#thumbnails li {
	float:left;
	width:69px;
	height:69px;
	border:1px solid #cccccc;
	padding:1px;
	margin-right:5px;
}

.photo_gallery ul#thumbnails li a img {
	max-height:65px;
	max-width: 65px;	
}

.progress-button {
	margin-top:20px;
	float:left;
	margin-left:15px;
}

.progress-button span {
	font-size:16px;
	margin-right:10px;
}