.page-wrapper.registration {
	padding:50px 0px;
}

#registration-message {
	text-align:center;
}

#registration-message h1 {
	margin-top:0px;
	color:#ffffff;
	font-size:28px;
	font-weight:700;
}

#registration-message h2 {
	color:#ffffff;
	font-size:20px;
	margin-top:9px;
}

.registration .inner-content {
	width:661px;
	text-align:center;
}

.circle {
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%; 
	background-color: #000000;
	color:#ffffff;
	height:36px;
	width:36px;
	text-align: center;
	line-height: 36px;
	display: inline-block;
}

.label {
	display: block;
	margin-top:5px;
	color:#000000;
	font-size: 12px;
	font-weight: 300;
}

ul#registration-nav {
	text-align: center;
	list-style: none;
	margin:32px 0px;
	padding:0;
}

ul#registration-nav li {
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
	text-align: center;
	display: inline-block;
	margin:0px 16px;
}

ul#registration-nav li.active {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

ul#registration-nav a:hover {
	text-decoration:none;
}

.registration .inner-content.header {
	background-color: #000000;
	padding:11px 24px;
	color:#ffffff;
	text-align:left;
	font-size:16px;
	font-weight:700;
}

.red-circle {
	-webkit-border-radius: 50%; 
	-moz-border-radius: 50%; 
	border-radius: 50%; 
	background-color: #f04634;
	color:#ffffff;
	height:26px;
	width:26px;
	text-align: center;
	line-height: 26px;
	display: inline-block;
	margin-right:8px;
	font-size:14px;
}

.registration .inner-content.body {
	background-color: #ffffff;
	padding:30px 70px;
	text-align:left;
}

.registration .inner-content.body ol li p {
	margin-bottom:0;
	font-size:12px;
}

.registration.errors {
	padding:25px 0px;
}

.registration .inner-content.body ol li p span {
	color:#f04634;
}

.registration .inner-content.body ol li {
	margin-bottom:70px;
}

.registration .inner-content.body ol li.small-margin {
	margin-bottom:20px;
}

.registration .inner-content.body input[type=radio].form-control {
	-webkit-box-shadow:none;
	box-shadow:none;
	width:inherit;
	float:left;
	clear:both;
	height:20px;
	line-height: 20px;
	margin:0 10px 0 -20px;
}

.registration .inner-content.body label.radio {
	float:left;
	clear:both;
	height:20px;
	line-height: 20px;
	font-weight:300;
	font-size:12px;
	margin-bottom: 5px;
}

.registration .inner-content.body p.footer-message {
	font-weight:700;
	font-size:16px;
	text-align:center;
}

.registration .inner-content.body .submit {
	width:100%;
	text-align:center;
	margin-top:20px;
}

.registration .inner-content.body h4 {
	font-size:16px;
	font-weight:300;
	margin:0px 0px 20px 0px;
}

.registration .inner-content.body label {
	font-size:14px;
	font-weight:300;
}


.subpage.errors .inner-content {
	padding:20px 0px;
}

#registration-form {
	padding:20px 0px 50px 0px;
}

#registration-form input[type=text],
#registration-form input[type=password] {
	width:80%;
}

.registration-submit {
	margin-top:20px;
}

.login-submit {
	margin-top:55px;
}

#registration-form .signup {
	border-right:1px solid #cccccc;
}

#registration-form h4 {
	font-size:20px;
	margin-bottom:15px;
}

#registration-form .col-xs-6 {
	padding-bottom:20px;
}

#registration-form a {
	display: block;
}

.form-left {
	float:left;
	margin-bottom:15px;
}

.form-left.street-number {
	width:60px;
}

.form-left.street-name {
	width:202px;
	margin-left:10px;
}

.form-left.state {
	width:202px;
}

.form-left.postcode {
	margin-left:10px;
	width:60px;
}

.form-left.country {
	width:100%;
}

.submit-button {
	text-align:center;
	padding:15px 0px;
}

.submit-button input[type=submit] {
	width:325px;
	height:41px;
}

.registration .inner-content.body label.radio.radio-left {
	clear:none;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 60px;
}

.registration .inner-content.body label.radio.radio-left.clear-left {
	clear:left;
}

.registration .inner-content.body .clear-bottom {
	margin-bottom:10px;
}

.registration .inner-content.body textarea {
	height:90px;
	resize:none;
	margin-bottom:0;
}

.registration .inner-content.body li.select-priority {
	padding-bottom:20px;
}

.registration .inner-content.body li.select-priority label {
	float: left;
	clear:right;
	height:20px;
	line-height: 20px;
	margin-left:20px;
	font-size:12px;
	cursor: pointer;
}

.registration .inner-content.body li.select-priority input.priority {
	width:20px;
	height:20px;
	padding:3px;
	text-align:center;
	float: left;
	clear:left;
	cursor: pointer;
	color:#fc5849;
	font-weight:700;
	font-size:11px;
}

.registration .inner-content.body li.select-priority input.priority[readonly] {
	background-color: #ffffff;
}

.registration .inner-content.body li.date {
	margin-bottom:0px;
}

.registration .inner-content.body .mini-input {
	width:150px;
}

.registration .inner-content.body li.date .input-group {
	margin-top:10px;
	cursor: pointer;
}
.registration .inner-content.body li.date .input-group input.datepicker[readonly] {
	background-color:#ffffff;
	cursor: pointer;
}

.registration .inner-content.body .instructions {
	color:#aaaaaa;
	font-size:10px;
	margin-left:20px;
	height:24px;
	line-height: 24px;
}

#payment .payment-method {
	width:460px;
	margin:0 auto 30px auto;
	background-color:#e6e6e6;
	position:relative;
}

#payment .payment-method .col-xs-6 {
	padding: 0px 25px 50px 25px;
	margin:15px 0px;
	display: block;
	border-right:2px solid #b0b0b0;
	text-align:center;
	position:relative;
	height:190px;
}

#payment .payment-method .col-xs-6:last-child {
	border-right:none;
}

#payment h4 {
	font-size:16px;
}

#payment .payment-method .col-xs-6 h1{
	margin:0;
	font-size: 38px;
	font-weight:700;
}

#payment .payment-method .col-xs-6 p.per-what{
	text-transform:capitalize;
}

#payment .payment-method .col-xs-6 input[type=radio] {
	display:none;
}

#payment .payment-method .col-xs-6 input[type=radio] + label{
	background-color: #a8a6a6;
	color: #ffffff;
	width:100px;
	position:absolute;
	bottom:0px;
	left:60px;
	font-weight: 300;
}

#payment .payment-method .col-xs-6 input[type=radio] + label:before{
	content: "Select";
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label{
	background-color: #ee4234;
	color: #ffffff;
	font-weight: 700;
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label:before {
	content: "Selected";
}

#payment .form-inline label {
	margin-right:20px;
}

#payment .form-inline input[type=text] {
	width:215px;
}

#payment .form-inline input[type=text].trainer-code {
	text-transform: uppercase;
	width:135px;
}

#payment .form-inline .trainer-name {
	display:inline-block;
	margin-left:20px;
}

#payment .form-inline .trainer-name span.sprite {
	margin-right:10px;
}

#payment hr {
	border-color:#878787;
	margin-top:29px;
	margin-bottom:29px;
}

label span.explanation {
	font-size: 10px;
	margin-left:25px;
	color:#aaaaaa;
}

#payment .sprite.ssl {
	width:260px;
	padding-left: 90px;
	font-size:10px;
}

#payment .eway-block img {
	margin-top:15px;
}

#payment .ccv {
	padding-right:0;
}
#payment .expiry select.form-control {
	font-size:12px;
	width:86px;
}

span.aud {
	font-size:12px;
	font-weight:300;
}

#training_type {
	width:60%;
}