#payment {
	width:520px;
}

#payment .label {
	display:block;
	color:#333333;
}

#payment form label {
	font-weight:300;
}

#payment .payment-method {
	width:435px;
	margin:0 auto 30px auto;
	background-color:#e6e6e6;
	position:relative;
}

#payment .payment-method .col-xs-6 {
	padding: 0px 25px 50px 25px;
	margin:15px 0px;
	display: block;
	border-right:2px solid #b0b0b0;
	text-align:center;
	position:relative;
	height:190px;
}

#payment .payment-method .col-xs-6:last-child {
	border-right:none;
}

#payment h4 {
	font-size:16px;
}

#payment .payment-method .col-xs-6 h1{
	margin:0;
	font-size: 38px;
	font-weight:700;
}

#payment .payment-method .col-xs-6 p.per-what{
	text-transform:capitalize;
}

#payment .payment-method .col-xs-6 input[type=radio] {
	display:none;
}

#payment .payment-method .col-xs-6 input[type=radio] + label{
	background-color: #a8a6a6;
	color: #ffffff;
	width:100px;
	position:absolute;
	bottom:0px;
	left:60px;
	font-weight: 300;
	font-size:15px;
}

#payment .payment-method .col-xs-6 input[type=radio] + label:before{
	content: "Select";
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label{
	background-color: #ee4234;
	color: #ffffff;
	font-weight: 700;
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label:before {
	content: "Selected";
}

#payment .form-inline label {
	margin-right:20px;
}

#payment .form-inline input[type=text] {
	width:215px;
}

#payment hr {
	border-color:#878787;
	margin-top:29px;
	margin-bottom:29px;
}

label span.explanation {
	font-size: 10px;
	margin-left:25px;
	color:#aaaaaa;
}

#payment .sprite.ssl {
	width:260px;
	padding-left: 90px;
	font-size:10px;
}

#payment .eway-block img {
	margin-top:15px;
}

#payment .ccv {
	padding-right:0;
}
#payment .expiry select.form-control {
	font-size:12px;
	width:86px;
}