
.my-profile h3 {
	font-size:16px;
}

.my-profile .form-group label {
	font-size:14px;
	font-weight:300;
	width:165px;
}

.my-profile .form-group .form-control {
	width:185px;
	font-weight: 300;
	font-family:'Arial';
}

.my-profile hr {
	border-color:#a6a6a6;
}

.my-profile .personal-details {
	padding-right:45px;
}

.my-profile .address {
	padding-left:45px;
}

.my-profile .submit .btn {
	float:right;
	margin-top:50px;
	font-size:16px;
	padding:10px 32px;
}

.message-area {
	margin:10px 0px;
	font-weight:300;
}

.billing ul.nav-tabs {
	width:100%;
	background-color:#eaeaea;
	border:1px solid #989898;
	margin-top:45px;
}

.billing ul.nav-tabs li {
	margin-bottom:0;
}

.billing ul.nav-tabs li a {
	color:#000000;
	font-size: 12px;
	padding: 12px 15px;
}

.billing ul.nav-tabs > li.active > a {
	background-color: #000000;
	color:#ffffff;
}

.billing ul.nav-tabs > li > a,
.billing ul.nav-tabs > li > a:hover {
	border: none;
	border-radius: 0px;
}


.billing .tab-content {
	width:100%;
	border:1px solid #989898;
	border-top:none;
}

.billing .tab-content .tab-pane {
	width:100%;
}

.billing .top-border {
	border-top:1px solid #989898;
}

.billing table tr th {
	font-size: 12px;
	height:40px;
	line-height: 40px;
	padding-left: 20px;
}

.billing table tr td {
	font-weight: 300;
	font-size: 12px;
	padding: 6px 0px 6px 20px;
}

.billing .view-invoice .btn {
	font-weight: 500;
	font-size: 12px;
	margin-right:20px;
}

#credit-card-details {
	padding:25px 25px 125px 25px;
}

#credit-card-details .sprite.ssl {
	width:260px;
	padding-left: 90px;
	font-size:10px;
	font-weight: 300;
}

#credit-card-details .eway-block img {
	margin-top:15px;
}

#credit-card-details .left-column {
	padding-right:5px;
}

#credit-card-details .left-column label,
#credit-card-details .left-column .form-control {
	font-weight:300;
	font-size:14px;
	font-family: 'Arial';
}

#credit-card-details .right-column {
	padding-left:60px;
	padding-top:23px;
}

#credit-card-details label span.explanation {
	font-size: 10px;
	margin-left:15px;
	color:#aaaaaa;
}

#credit-card-details .submit {
	float:left;
	clear: left;
}

#credit-card-details .submit.update,
#credit-card-details .submit.add {
	margin-left:15px;
}

#credit-card-details .submit.delete {
	clear:none;
	margin-left: 10px;
}


#credit-card-details .submit .btn {
	margin-right:18px;
	margin-top:15px;
	font-weight:300;
}

#credit-card-details .delete-account {
	margin-left: 45px;
	color:#000000;
	font-weight:300;
	text-decoration: underline;
}

.view-invoice {
	width:100%;
	margin-top:20px;
}

.view-invoice .btn.back-to-billing {
	margin:20px 0px;
}


#payment * {
	font-family: 'Arial';
}

#payment .payment-method {
	width:500px;
	margin:25px 0px;
	background-color:#e6e6e6;
	position:relative;
}

#payment .payment-method .col-xs-6 {
	padding: 0px 25px 50px 25px;
	margin:30px 0px;
	display: block;
	border-right:2px solid #b0b0b0;
	text-align:center;
	position:relative;
	height:190px;
}

#payment .payment-method .col-xs-6:last-child {
	border-right:none;
}

#payment h4 {
	font-size:16px;
}

#payment .payment-method .col-xs-6 h1{
	margin:0;
	font-size: 38px;
	font-weight:700;
}

#payment .payment-method .col-xs-6 p.per-what{
	text-transform:capitalize;
}

#payment .payment-method .col-xs-6 p.label{
	display: block;
}

#payment .payment-method .col-xs-6 input[type=radio] {
	display:none;
}

#payment .payment-method .col-xs-6 input[type=radio] + label{
	background-color: #a8a6a6;
	color: #ffffff;
	width:100px;
	position:absolute;
	bottom:0px;
	left:70px;
	font-weight: 300;
	font-size: 16px;
}

#payment .payment-method .col-xs-6 input[type=radio] + label:before{
	content: "Select";
}

#payment .payment-method p {
	color:#000000;
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label{
	background-color: #ee4234;
	color: #ffffff;
	font-weight: 700;
}

#payment .payment-method .col-xs-6 input[type=radio]:checked + label:before {
	content: "Selected";
}

#payment .submit-center {
	text-align: center;
	width:500px;
	padding:20px 0px;
}

.delete-account {
	color: #000000;
	float: left;
	margin: 22px 0px 0px 43px;
	text-decoration: underline;
}

#delete_account_modal h2 {
	font-size:19px;
	margin-bottom:20px;
	margin-top:0px;
}

#delete_account_modal label {
	font-size:12px;
	font-weight:300;
	margin:0;
}

#delete_account_modal label input {
	margin-right:10px;
}

#delete_account_modal .form-group {
	margin:5px 0px;
}

#delete_account_modal .submit {
	margin-top:30px;
	text-align:center;
}

#delete_account_modal .footer-note {
	font-size:12px;
	font-weight: 700;
	padding:20px 0px;
}

#credit-card-details .ccv {
	padding-right:0;
}
#credit-card-details .expiry select.form-control {
	font-size:12px;
	width:80px;
}