/*div.page-wrapper {
	background: #f15e52;
	background: -moz-linear-gradient(left, #f15e52 0%, #f9a340 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f15e52), color-stop(100%,#f9a340));
	background: -webkit-linear-gradient(left, #f15e52 0%,#f9a340 100%);
	background: -o-linear-gradient(left, #f15e52 0%,#f9a340 100%);
	background: -ms-linear-gradient(left, #f15e52 0%,#f9a340 100%);
	background: linear-gradient(to right, #f15e52 0%,#f9a340 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15e52', endColorstr='#f9a340',GradientType=1 );
}*/
#quotes {
	background: #000;
	color: #ee4234;
}
#quotes .inner-content {
	padding: 13px 0px;
	text-align: center;
}
#quotes .inner-content ul {
	list-style: none;
	margin-bottom: 0;
}
#quotes .inner-content ul li {
	font-size: 21px;
	font-weight: bold;
	color: #ee4234;
}

.stick{
	position: fixed;
	top: 0px;
	z-index: 50;
}

div.static-wrapper {
	min-height: 100%;
	padding:1px;
}
div.static-wrapper .inner-content {
	width: 1000px;
	margin: 0 auto 30px;
	position:relative;
}

div.static {
	width:1000px;
	margin:50px auto;
	background-color: #ffffff;
	padding:25px;
	border-radius:3px;
}

div.static p.p-header {
	font-size:18px;
}

#terms_and_conditions dl dt {
	width: 190px;
}
#terms_and_conditions dl dd {
	margin-left: 200px;
}

#results h1 {
	margin: 45px 0px 30px 0px;
	font-weight: bold;
	font-size:25px;
}
#results p {
	margin-bottom: 20px;
	line-height: 25px;
	color: #6c6c6c;
}
#results .row {
	margin-bottom: 30px;
}
#results .image {
	font-size: 13px;
	font-weight: bold;
	line-height: 25px;
	color: #000;
}

#contact_us form {
	margin-top: 30px;
}
#contact_us form textarea {
	resize: none;
}

#pricing .inner-content .all-for-just {
	width:100%;
	display: block;
	text-align:center;
	margin:0px 0px 20px 0px;
	font-size:45px;
}

#pricing .inner-content .price {
	width:100%;
	text-align:center;
	font-size: 35px;
}

#pricing .inner-content .price span {
	font-size:14px;
}

.contact-form {
	width:500px;
	margin:80px auto 0px auto;
}

.page-heading {
	margin:20px 0px 40px 0px !important;
	font-weight:300 !important;
	font-size:34px !important;
}

.contact-form label {
	font-weight:300;
}

.contact-form .form-group {
	margin: 0px 0px 20px 0px;
}

.contact-form .submit-button {
	margin-top:20px;
}

#contact_us .page-heading {
	margin:67px 0px 40px 0px !important;
}

#payment-box * {
	font-family: 'Arial';
}

#payment-box .payment-method {
	width:500px;
	margin:25px auto;
	background-color:#e6e6e6;
	position:relative;
}

#payment-box .payment-method .col-xs-6 {
	padding: 0px 25px 50px 25px;
	margin:30px 0px;
	display: block;
	border-right:2px solid #b0b0b0;
	text-align:center;
	position:relative;
	height:190px;
}

#payment-box .payment-method .col-xs-6:last-child {
	border-right:none;
}

#payment-box h4 {
	font-size:16px;
}

#payment-box .payment-method .col-xs-6 h1{
	margin:0;
	font-size: 38px;
	font-weight:700;
}

#payment-box .payment-method .col-xs-6 p.per-what{
	text-transform:capitalize;
}

#payment-box .payment-method .col-xs-6 p.label{
	display: block;
}

#payment-box .payment-method .col-xs-6 .button-area {
	position:absolute;
	bottom:20px;
	left:0px;
	width:100%;
	text-align:center;
}

#payment-box .payment-method p {
	color:#000000;
}

span.aud {
	font-size:12px;
	font-weight:300;
}

#pricing #sell-points {
	margin-bottom:40px;
}

#pricing #sell-points .point {
	background-color:#eeeeee;
	position:relative;
	border-right:1px solid #c8c8c8;
	padding:63px 41px 32px 41px;
}

#pricing #sell-points .point:last-child {
	border-right:none;
}

#pricing #sell-points .point .bubble {
	width:100%;
	text-align:center;
	height:98px;
	display:block;
	position:absolute;
	top:-49px;
	left:0px;
}

#pricing #sell-points .point h3 {
	text-align:center;
	font-family: "Arial";
	font-weight:700;
	font-size:22px;
	margin-top:0;
	margin-bottom:22px;
}

#pricing #sell-points .point .point-image {
	width:233px;
	height:132px;
	display:block;
}

#pricing #sell-points .point ul.points-list {
	width:100%;
	list-style: none;
	margin:17px 0px 0px 0px;
	padding:0;
}

#pricing #sell-points .point ul.points-list li {
	width:100%;
	display:block;
	font-family: "Arial";
	font-weight:300;
	padding:7px;
	border-bottom:1px solid #dadada;
}

#pricing #sell-points .point ul.points-list li:last-child {
	border-bottom:none;
}

#pricing-expanded {
	position:relative;
	border-top:1px solid #919090;
}

#pricing-expanded .drop-shadow {
	background-image: url('/assets/images/drop-shadow.png');
	background-repeat: repeat-x;
	width:100%;
	display: block;
	height:5px;
	position:absolute;
	top:0px;
	left:0px;
}

#pricing-expanded .inner-content {
	padding:42px 0px;
}

#pricing-expanded .inner-content ul.expanded-list {
	list-style:none;
	padding:0;
	margin:0;
}

#pricing-expanded .inner-content ul.expanded-list li {
	color:#ffffff;
	width:100%;
	display:block;
	border-bottom:1px solid #efa79d;
	padding:7px 30px 7px 0px;
}

#pricing-expanded .inner-content ul.expanded-list li span {
	float:right;
}

#pricing-expanded .pricing-box {
	width:315px;
	display:block;
	margin:0 auto;
	border:1px solid #c55e0d;
	padding:22px 0px;
	text-align:center;
	background-color:#ffffff;
}

#pricing-expanded .pricing-box h3 {
	color:#ee4234;
	font-size:37px;
	font-weight:700;
	margin-top:0;
}

#pricing-expanded .pricing-box .the-price {
	display: block;
	font-weight:700;
	color:#000000;
	font-size:37px;
	margin-bottom:10px;
}

#pricing-expanded .pricing-box .the-price small {
	font-weight:300;
	color:#000000;
	font-size:12px;
}

#pricing-expanded .pricing-box .little-text {
	text-transform: uppercase;
	margin-bottom:15px;
	color:#000000;
	font-size:12px;
	display:block;
}

#pricing-expanded .pricing-box .btn.btn-primary {
	width:166px;
}

#top-right-pricing {
	position:absolute;
	top:10px;
	right:-15px;
}

.image-area {
	padding:15px;
	border:1px solid #cccccc;
	position:relative;
	width:430px;
	height:302px;
	float:left;
	clear:both;
}

.image-area .background-image {
	position:absolute;
	top:15px;
	left:15px;
	display:block;
}

.image-area .background-image img {
	width:400px;
	height:auto;
}

.image-area .bubble-image {
	position:absolute;
	top:-50px;
	left:0px;
	width:100%;
	text-align:center;
	display:block;
}

.informational-area {
	float:left;
	clear:both;
	width:430px;
	text-align:left;
}

.hiw-rule {
	margin:50px 0px;
}

.section-header {
	text-transform:uppercase;
	font-size:18px;
	margin-top:0;
	padding-bottom:10px;
	text-align:left;
}

.work-points {
	margin:20px 0px 0px 0px;
	padding-left:18px;
}

.work-points li {
	font-size:14px;
	padding:3px 0px;
}

.center-content {
	text-align:center;
}

#picture_view .img-content {
	width:100%;
}

#picture_view .img-content img {
	width:100%;
	height:auto;
}

#picture_view .modal-dialog {
	width:800px;
}

#picture_view .modal-body {
	padding:0;
}
