div.training-session {
	width:100%;
	display: block;
	margin-left:0px;
	margin-right:0px;
	min-width: 1065px;
}

div.training-session .session {
	background-color:#ffffff;
	padding:28px 55px;
	min-height:265px;
	border:1px solid #c4c4c4;
	border-left:none;
	border-right:none;
	margin-top:36px;
	position:relative;
}

div.training-session .session.is-phase {
	background-color:#eeeeee;
	border-top:none;
	margin-top:0px;
}

.session .training-video {
	float:left;
	margin-right:38px;
}

.session .info-block {
	margin-left:45px;
}

.session .info-block h4 {
	display: inline-block;
	width:150px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Arial';
	margin:0px;
}

div.training-session .session .info-block.session-entry h4 {
	display: inline-block !important;
	width:150px !important;
}

div.training-session .session.is-phase .info-block h4{
	width:100%;
	display:block;
}

.session .info-block span.name {
	display: inline-block;
	font-size: 16px;
	font-family: 'Arial';
}

.session .info-block p {
	display: block;
	padding:0px;
	margin:23px 0px 60px 0px;
	font-size:14px;
}

.session .btn.enter-session {
	width:180px;
	padding:0px;
	height:42px;
	line-height: 42px;
	position:absolute;
	right:55px;
	bottom:30px;
	font-weight:700;
	font-size:16px;
}

div#training {
	width:875px;
	margin:0px;
	padding:0px 0px 50px 56px;
}

div#training h3 {
	font-size: 20px;
	font-weight:700;
	margin:25px 0px 25px 0px;
}

div#training .input-grid table.mother {
	border:1px solid #cccccc;
}

div#training .input-grid table tr td input[type=text]{
	width:51px;
	height:32px;
	border:none;
	text-align: center;
}

div#training .input-grid table tr td {
	font-size:12px;
	border:1px solid #cccccc;
	border-right:none;
	border-top:none;
}

div#training .input-grid table tr td.exercise-name {
	width:250px;
	padding: 0px 15px;
}

div#training .input-grid table tr th {
	background-color: #000000;
	color:#ffffff;
	height:42px;
	text-align:center;
	font-size: 12px;
}

div#training .input-grid table tr .sets {
	width:50px;
	text-align: center;
}

div#training .input-grid table tr.sub-header td {
	background-color: #eaeaea;
	color:#000000;
	height:30px;
	text-align:center;
	font-size: 10px;
	width:50px;
	border:none;
	border-bottom:1px solid #cccccc;
}

div#training .input-grid table tr td.rep-weight {
	width:50px;
}

div#training .input-grid table tr td.full {
	width:100px;
}

.status {
	position:absolute;
	position:absolute;
	right:55px;
	top:5px;
	font-size:16px;
}

.status.complete {
	color:#3ea113;
}

.status.incomplete {
	color:#ee4234;	
}

.circuit-grid table.circuit {
	border:1px solid #a6a6a6;
	margin-bottom:30px;
}

.circuit-grid table.circuit tr th {
	background-color: #000000;
	height:31px;
	line-height: 31px;
	font-size: 12px;
	font-weight:700;
	color:#ffffff;
	padding-left:15px;
}

.circuit-grid table.circuit tr th.name {
	width:250px;
}

.circuit-grid table.circuit tr th.exercises {

}

.circuit-grid table.circuit tr.description td {
	padding:15px 10px;
	border-bottom:1px solid #a6a6a6;
	border-right:1px solid #a6a6a6;
}

.circuit-grid table.circuit tr.description td:last-child {
	padding:15px 10px;
	border-right:none;
}

.circuit-grid table.circuit tr td .circuit-entry {
	border-right:1px solid #a6a6a6;
	width:25%;
	float:left;
}

.circuit-grid table.circuit tr td .circuit-entry:last-child {
	border-right:none;
}

.circuit-grid table.circuit tr td .circuit-entry .entry-header {
	border-bottom:1px solid #a6a6a6;
	width:100%;
	background-color: #eaeaea;
	height:30px;
	line-height: 30px;
	padding-left:15px;
	font-size: 12px;
}

.circuit-grid table.circuit tr td .circuit-entry .entry-data {
	height:106px;
}

.circuit-grid table.circuit tr td .circuit-entry .entry-data textarea {
	width:100%;
	height:106px;
	border:none;
	resize:none;
	padding:3px 5px;
}

#training .btn-right {
	float:right;
	width:150px;
	font-weight: 300;
	margin-top: 35px;
}

span.exercise-name {
	margin-left:10px;
	height:16px;
	line-height: 16px;
	font-size: 12px;
}

.circuit-grid a.get_exercise {
	line-height: 26px;
}

.print-button{
	float:right;
	margin:15px 0px;
}