.columns {
	min-height: 100%;
	width:100%;
	display: table;
	height:100%;
}

.navigation {
	width: 227px;
	min-width: 204px;
	background-color: #ffffff;
	display: table-cell;`
	vertical-align: top;
	height:100%;`
}

.navigation .logo {
	display: block;
	width:100%;
	text-align:center;
	height:48px;
	margin:64px 0px 50px 0px;
}

.body {
	display: table-cell;
	vertical-align: top;
	padding-left: 27px;
	padding-bottom: 50px;
	background-color:#f1f0f0;
	height:100%;
}

.body .inner {
	width: 947px;
	position:relative;
}

.navigation ul {
	margin:0;
	padding:0;
}

.navigation ul li {
	width:100%;
	display: block;
}

.navigation ul li a {
	width:100%;
	height:39px;
	border-top:1px solid #e7e7e7;
	display: block;
	line-height:39px;
	padding:0px 8px 0px 32px;
	color:#000000;
	font-size:16px;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
}

.navigation ul li a:hover {
	text-decoration:none;
}

.navigation ul li:last-child a {
	border-bottom:1px solid #e7e7e7;
}

.navigation ul li.active {
	background: #f15e52; /* Old browsers */
	background: -moz-linear-gradient(left,  #f15e52 0%, #f9a340 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f15e52), color-stop(100%,#f9a340)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #f15e52 0%,#f9a340 100%); /* IE10+ */
	background: linear-gradient(to right,  #f15e52 0%,#f9a340 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f15e52', endColorstr='#f9a340',GradientType=1 ); /* IE6-9 */
}

.navigation ul li:hover {
	background-color: #fabc7b;
	color:#ffffff;
}

.navigation ul li.active a {
	color:#ffffff;
}

.admin-name {
	font-size:18px;
	display:block;
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	width:100%;
	text-align:center;
	margin-bottom: 52px;
}

.section-header {
	font-family:"Trebuchet MS", "Arial", "Helvetica", "sans-serif";
	font-size:30px;
	color:#000000;
	font-weight:700;
	margin-bottom:42px;
}

.section {
	width:100%;
	border:1px solid #dcdbdb;
	background-color:#ffffff;
}

.body.dashboard .inner .section {
	padding:20px 10px;
}

.dashboard-graphs {
	margin:0;
}

.left-graphs {
	width:560px;
	padding-right:25px;
	border-right:1px solid #dcdbdb;
}

.right-graphs {
	width:350px;
	padding-left:25px;
	border-left:1px solid #dcdbdb;
	margin-left:-1px;
	padding-right:0;
}

#revenue_graph {
	width:520px;
}

.trainer-graph {
	height:292px;
	margin-bottom:50px;
	width:320px;
}

.legends {
	width:345px;
	display:block;
	margin-bottom:50px;
}

.legends .legend {
	float:left;
	margin-right:20px;
	font-size:12px;
}

.legends .legend:last-child {
	margin-right:0;
}

.legends .legend span {
	width:15px;
	height:15px;
	display: block;
	float:left;
	margin-right:5px;
}

.legends .legend.total span {
	background-color:#000000;
}

.legends .legend.active span {
	background-color:#ee4533;
}

.legends .legend.lost span {
	background-color:#20a4f7;
}

#clients ul.nav {
	width:100%;
	background-color: #ffffff;
}

#clients  {
	border:1px solid #dcdbdb;
}

#clients ul.nav li a {
	border-radius:0px;
	border:none;
	border-right:1px solid #dcdbdb;
	border-bottom:1px solid #dcdbdb;
	color:#000000;
	margin:0;
	background-color:#ffffff;
	padding: 10px 30px;
}



#clients ul.nav li.active a {
	color:#ffffff;
	background-color:#000000;
}

#clients .tab-content {
	background-color:#ffffff;
}

#clients .tab-content .tab-pane {
	padding:1px;
}

#clients .tab-content .tab-pane table tr th {
	padding:10px 5px;
}

#clients .tab-content .tab-pane table tr td {
	padding:2px 5px;
	border-top:1px solid #dcdbdb;
}

#clients .tab-content .tab-pane table tr td select {
	height:30px;
}

#clients .tab-content .tab-pane table tr td:first-child,
#clients .tab-content .tab-pane table tr th:first-child {
	padding-left:15px;
}

#clients .tab-content .tab-pane table tr td:last-child,
#clients .tab-content .tab-pane table tr th:last-child {
	padding-left:15px;
}

#clients .tab-content .tab-pane table tr td .user-option {
	padding:3px 15px;
	background-color: #000000;
	color:#ffffff;
	text-align:center;
	display:inline-block;
	border-radius:5px;
	font-size:12px;
	margin:4px 0px;
}
#create_trainer div.modal-dialog.modal-lg {
	width: 420px;
}
.user-search {
	position:absolute;
	top:0;
	right:0;
}

.user-search a {
	margin-right:20px;
}

.user-search input[type=text] {
	width:250px;
}

.inner-message {
	margin:20px;
}

.float-submit {
	float:left;
	margin-right:20px;
}

.float-form {
	float:right;
}

#exercise_library {
	padding:30px;
}

#exercise_library .row {
	margin:0;
}

.select-group {
	width:100%;
	margin-bottom:28px;
	float:left;
	clear:both;
}

.select-group:last-child {
	margin-bottom:0;
}

.select-group .select-container {
	width:282px;
	float:left;
}

.group-options {
	float:left;
	margin-top:7px;
	margin-left:15px;
}

.group-options a.option,
.group-options a.exercise-option {
	color:#000000;
	float:left;
	margin-right:35px;
}

.group-options a.option span,
.group-options a.exercise-option span {
	height:19px;
	width:19px;
	border-radius:50%;
	display: block;
	float:left;
	margin-right:10px;
	color:#ffffff;
	font-size:14px;
	line-height:19px;
	text-align:center;
	background-color:#ee4533;
}

#exercise_library hr {
	margin:40px 0px;
}

.photo-upload {
	width:30%;
}

.photo-upload .nice-file {
	margin-bottom:10px;
}

.exercise-editing label {
	font-weight:300;
}

.exercise-editing .form-control {
	width:338px;
}

.exercise-editing textarea {
	resize:none;
	height:130px;
}

.exercise-editing .col-xs-5 {
	border-right:1px solid #d1d1d1;
	width:405px;
	padding-left:0;
}

.exercise-editing .col-xs-7 {
	width:480px;
	padding-left:60px;
	border-left:1px solid #d1d1d1;
	margin-left:-1px;
	padding-right:0;
}

.exercise-name {
	margin-bottom:20px;
	font-size:16px;
}

.preview-area {
	width:100%;
	margin-top:30px;
}

.preview-area .image-container {
	height:102px;
	width:102px;
	border:1px solid #d1d1d1;
	float:left;
	margin-right:10px;
	line-height: 98px;
	text-align:center;
}

.preview-area img {
	max-height:100px;
	max-width:100px;
}

.submit {
	width:100%;
	text-align:right;
	margin-top:50px;
}

#program_management {
	padding:30px;
	margin:0;
}

.sortable-area {
	margin-top:20px;
	float:left;
	width:100%;
	border:1px solid #d1d1d1;
}


.sortable-area .sortable-headings span {
	height:34px;
	line-height: 34px;
	background-color: #000000;
	color:#ffffff;
	text-align: center;
	font-weight: 300;
	display: block;
	float:left;
	padding:0px 10px;
}


.sortable-list {
	float:left;
	margin:0;
	list-style: none;
	width:100%;
	padding:0;
}

.sortable-list li.ui-state-default,
.sortable-list li.highlight {
	float:left;
	clear:both;
	width:100%;
	border-top:1px solid #d1d1d1;
	background-color:#ffffff;
}

.sortable-list li.no-padding .keep-left {
	padding:0px;
}

.sortable-list li td {
	text-align:center;
	border-right:1px solid #d1d1d1;
	padding:7px 10px;
}

.sortable-list li td:last-child {
	border-right:none;
}

.sortable-area .keep-left {
	text-align:left !important;
	padding:7px 10px;
	width:40%;
}

.sortable-area .small-cell {
	width:9%;
	position:relative;
}

.sortable-area .medium-cell {
	width:15%;
}

.sortable-area .very-large {
	width:67%;
}

.sortable-list li.highlight {
	height:35px;
	display: block;
	width:100%;
	background-color:#E8E8E8;
	border:1px dashed #B8B8B8;
	box-sizing:border-box;
}

.table-input {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	border:none;
	text-align:center;
	height:34px;
}

.no-padding .chzn + .chosen-container .chosen-single {
	border:none;
}

.no-padding .chzn + .chosen-container .chosen-drop {
	border-top:1px solid #aaa;
	margin-top:0;
}

.no-padding .chzn + .chosen-container.chosen-with-drop .chosen-single div {
	border:none;
}

.no-padding .chzn + .chosen-container-active .chosen-single {
	box-shadow: none;
}

.add-exercise {
	float:left;
	clear:both;
	color:#000000;
	margin-top:20px;
}

.add-exercise span {
	height:22px;
	width:22px;
	border-radius:50%;
	display: block;
	float:left;
	color:#ffffff;
	font-size:14px;
	line-height:22px;
	text-align:center;
	background-color:#ee4533;
	font-weight: 700;
	font-size: 18px;
	margin-right:10px;
}

.submit {
	float:left;
	clear:both;
	text-align:right;
	width:100%;
	margin-top:50px;
}

#add_edit label {
	font-weight:300;
}

#add_edit textarea.form-control {
	resize:none;
	height:100px;
}

#add_edit .right-align {
	padding: 0px 15px;
	text-align: right;
	margin-top: 15px;
	float: right;
}

#add_edit .modal-header {
	color:#ffffff;
	text-align:center;
	font-weight:700;
}

.food-plan {
	width:33.3%;
	padding:0 2.5%;
	float:left;
}

#food {
	margin:0px -2.5%;
}

#food .nice-file {
	width:120px;
	font-size: 12px;
	float:left;
	margin-top:20px;
}

#food label {
	font-weight:300;
}

#food .nice-file:before {
	content:"Choose document";
	font-size:12px;
}

#food .nice-file:after {
	min-width:inherit;
	width:125px;
	font-size: 11px;
}

.food-submit {
	float:right;
	text-align:right;
	padding:100px 0px 0px 10px;
}

#reports {
	padding:20px 20px;
}

#reports .chart-container {
	width:700px;
	float:left;
}

#reports .filters {
	margin-top:5px;
	width:200px;
	float:right;
	padding:0px 0px 0px 10px;
}

#reports .s-container {
	margin-bottom:10px;
}

#reports .s-container input.datepicker[readonly] {
	background-color:#ffffff;
	cursor: pointer;
}

#reports .s-container .form-group {
	margin-bottom:0;
}

#reports .submit-filters {
	text-align:right;
	width:100%;
	display:block;
	float:right;
	margin-top:20px;
}

#reports .submit-filters input[type=submit] {
	width:100%;
}

#reports .check label {
	font-weight:300;
}

#clients .tab-content .inner-table td {
	padding:4px !important;
	border:none !important;
}

.trainer-counts {
	float:left;
	margin-top:50px;
	padding-left:10px;
	width:100%;
}

.trainer-counts table {
	width:100%;
	border-color: #cccccc;
}

.trainer-counts table tr th {
	padding:4px 7px;
}

.trainer-counts table tr td {
	padding:4px 7px;
}

#clients ul.nav li a span.counter {
	margin:0px 0px 0px 10px;
	display: inline-block;
}

#clients .tab-content .tab-pane table .red-row td {
	background-color: #fad7d4;
	border-top:1px solid #ed6357;
}

#clients .tab-content .tab-pane table tr.red-row + tr td {
	border-top:1px solid #ed6357;
}

.float-right {
	float:right;
}